<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>
        {% if page.title == "home" %}
        {{ site.title }} &middot; {{ site.tagline }}
        {% else %}
        {{ page.title }} &middot; {{ site.title }}
        {% endif %}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/public/favicons/apple-touch-icon.png?v=1">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/public/favicons/favicon-32x32.png?v=1">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/public/favicons/favicon-16x16.png?v=1">
    <link rel="manifest" href="{{ site.baseurl }}/public/favicons/manifest.json?v=1">
    <link rel="mask-icon" href="{{ site.baseurl }}/public/favicons/safari-pinned-tab.svg?v=1" color="#9477d4">
    <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicons/favicon.ico?v=1">
    <meta name="msapplication-config" content="{{ site.baseurl }}/public/favicons/browserconfig.xml?v=1">
    <meta name="theme-color" content="#9477d4">
</head>
