<nav id="sidebar">
  <a class="title" href="{{ site.baseurl }}/">{{ site.title }}</a>
  <ul class="links">
    <li><a href="{{ site.baseurl }}/about">about</a></li>
    <li><a href="{{ site.baseurl }}/work">work</a></li>
    <li><a href="{{ site.baseurl }}/photos">photos</a></li>
    <li><a href="{{ site.baseurl }}/cv.pdf">cv</a></li>
  </ul>
  <ul class="networks">
    <li><a href="{{ site.author.twitter }}" class="fa fa-twitter"></a></li>
    <li><a href="{{ site.author.instagram }}" class="fa fa-instagram"></a></li>
  </ul>
</nav>
