main {
  max-width: 860px;
  width: 100%;
  padding: 60px;
  display: inline-block;

  @media (max-width: 940px) {
    padding: 60px 40px;
  }

  @media (max-width: 760px) {
    padding: 60px 20px;
  }

  @media (max-width: 560px) {
    padding-top: 20px;
  }
}
